@import 'reset.css';

* {
    margin: 0;
}

a {
    text-decoration: none;
    color: blue;
}

html, body {
    width: 100%;
    height: 100%;
}

.ekran {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    display: flex;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-margin-left: 100vw;
}

.durumekranı {
    position: absolute;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
}

.durumekranı:nth-child(1) {
    left: 0;
}

.durumekranı:nth-child(2) {
    left: 100%;
}







.aktifodevblok {
    position: absolute;
    display: flex;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 55%;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-margin-top: 100%;
}

.aktifodevblok::after {
    content: 'Aktif Ödev Yok';
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.3vw;
    display: none;
}


.aktifduyurublok {
    position: absolute;
    display: flex;
    top: 60%;
    left: 1%;
    width: 98%;
    height: 23%;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.aktifduyurublok::after {
    content: 'Aktif Duyuru Yok';
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.3vw;
}










.pasifodevblok {
    position: absolute;
    display: flex;
    top: 1%;
    left: 1%;
    width: 98%;
    height: 55%;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.pasifodevblok::after {
    content: 'Pasif Ödev Yok';
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.3vw;
}


.pasifduyurublok {
    position: absolute;
    display: flex;
    top: 60%;
    left: 1%;
    width: 98%;
    height: 23%;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow-x: hidden;
    overflow-y: auto;
}

.pasifduyurublok::after {
    content: 'Pasif Duyuru Yok';
    position: relative;
    text-align: center;
    font-size: 4vw;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.3vw;
}







.altblok {
    position: fixed;
    bottom: 1%;
    width: 100%;
    height: 12%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.altblokoge {
    position: relative;
    width: 20%;
    height: 100%;
    border: 2px solid gray;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.altblokresim {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
}

.odevblok {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: ;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-margin-top: 100%;
    border-radius: 10px;

}

.odev {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    border-radius: 10px;
    background-color: darkgray;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
}

.odev h1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5vw;
    font-size: 3vw;
    border-bottom: 1px solid gray;
}


.odev:nth-child(1)::after {
    background-color: ;
}

.odev:nth-child(2) {
    background-color: ;
}

.odev div {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    background-color: ;
}

.odev div p:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw;
    border-bottom: 1px solid gray;
}

.odev div p:nth-child(2) {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw;
}

.odev div p:nth-child(3) {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.3vw;
}