@import 'reset.css';

* {
    margin: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

.ekran {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: gainsboro;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4vb;
}

.ekran::after {
    content: "Aktif Ödevler Şuanda Alınamıyor";
    font-style: italic;
    font-weight: bold;
    display: none;
}

.anasayfadon {
    position: absolute;
    top: 2%;
    left: 2%;
    user-select: none;
    z-index: 10;
}

.aktifodevblok {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-margin-top: 50%;
}

.odevblok {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-margin-top: 50%;
    border-radius: 10px;
}

.odev {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    scroll-snap-align: center;
    scroll-snap-stop: always;
    border-radius: 10px;
    background-color: darkgray;
    border-top: 3px solid gray;
    border-bottom: 3px solid gray;
    border-left: 3px solid gray;
    border-right: 3px solid gray;
    margin: 2%;
}

.odev h1 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 15%;
    background-color: ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0.5vw;
    font-size: 3vb;
    border-bottom: 1px solid gray;
}


.odev:nth-child(1)::after {
    background-color: ;
}

.odev:nth-child(2) {
    background-color: ;
}

.odev div {
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-weight: bold;
    background-color: ;
}

.odev div p:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vb;
    border-bottom: 1px solid gray;
}

.odev div p:nth-child(2) {
    position: absolute;
    top: 40%;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vb;
}

.odev div p:nth-child(3) {
    position: absolute;
    top: 60%;
    left: 0;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vb;
}
