* {
    margin: 0;
    appearance: none;
    padding: 0;
    color: black;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    display: none;
}